<p id="notice"><%= notice %></p>

<p>
  <strong>Coursename:</strong>
  <%= @course.coursename %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Subjectarea:</strong>
  <%= @course.subjectarea %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @course.credits %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
